<!DOCTYPE html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%-include('partials/head.ejs')%>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis inventore laboriosam, quaerat
                    distinctio ratione consequuntur ab omnis perferendis corrupti! Sit assumenda doloremque consectetur
                    autem, incidunt, sint perferendis magnam expedita, iusto voluptatum earum dolores nostrum veritatis.
                    Molestiae veritatis fugit culpa. Reprehenderit quos praesentium, cupiditate sequi ea vitae sit,
                    blanditiis suscipit corrupti nesciunt cumque! Nulla tenetur eligendi voluptatibus dolore dolor
                    tempore quas blanditiis veniam dolorum. Asperiores facere, cumque sapiente numquam tempore quisquam
                    officia sit, consectetur velit ducimus molestias neque fuga illum eius dicta tenetur? Voluptatibus
                    eligendi similique assumenda numquam exercitationem veniam porro non repudiandae perspiciatis
                    reiciendis, aspernatur excepturi, voluptate minus labore ad a? Illum suscipit, totam at vitae
                    sapiente sequi minus asperiores quas, iure eaque voluptates nam? Ut vitae quod, numquam similique
                    dolorem quibusdam laudantium atque cupiditate eos pariatur perspiciatis nulla! Iste, nihil vel
                    accusamus minus consequatur, nulla quaerat quibusdam officia distinctio officiis ut maxime
                    consectetur ratione repellat rem tempore expedita ea enim est odio in! Dicta quam assumenda deleniti
                    praesentium atque, voluptate magnam vel ipsa error reiciendis eligendi provident qui eius nam
                    blanditiis aperiam dolore deserunt alias. Exercitationem dolore repellendus vitae porro aliquid
                    architecto saepe error perspiciatis deleniti quibusdam animi labore molestias pariatur incidunt
                    modi, dolores, corrupti cum adipisci eum assumenda.</p>
            </section>
        </main>
</body>

</html>