<!DOCTYPE html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%-include('partials/head.ejs')%>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <!-- Main Content -->
        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/img/logo.png" id="img_logo" alt="logo">
                <h1 class="display-1 mt-2 mb-5 text-uppercase fw-bold">Web App</h1>
                <a href="/about" class="btn btn-primary w-25">About</a>
            </div>
        </header>
        <%- include('partials/footer.ejs') %>
</body>

</html>